<h1>Listing boards</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @boards.each do |board| %>
  <tr>
    <td><%= board.name %></td>
    <td><%= link_to 'Show', board %></td>
    <% if current_user && current_user.is_admin? %>
      <td><%= link_to 'A-Edit', edit_admin_board_path(board) %></td>
      <td><%= link_to 'A-Destroy', admin_boards_path , :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if current_user && current_user.is_admin? %>
  <%= link_to 'A-New Board', new_admin_board_path %>
<% end %>
