<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @board.name %> 
</p>

<h1>Listing posts - Total <%= @board.posts.size %> posts </h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.title %></td>
    <td><%= post.content %></td>
    <td><%= link_to 'Show', board_post_path(@board,post) %></td>
    <% if post.user == current_user %>
      <td><%= link_to 'Edit', edit_board_post_path(@board,post) %></td>
      <td><%= link_to 'Destroy', board_post_path(@board,post), :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
    
    <% if current_user.is_admin? %>
      <td><%= link_to 'A-Edit', edit_admin_board_post_path(@board,post) %></td>
      <td><%= link_to 'A-Destroy', admin_board_post_path(@board,post), :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<%= will_paginate(@posts)%>
<br />

<%= link_to 'New Post', new_board_post_path(@board) %> |
<%= link_to 'A-Edit', edit_admin_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
